@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7.0588%;
    --card: 0 0% 97.2549%;
    --card-foreground: 0 0% 7.0588%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7.0588%;
    --primary: 141.1538 72.8972% 41.9608%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 11.1111% 8.8235%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 93.7255%;
    --muted-foreground: 0 0% 32.5490%;
    --accent: 141.1538 72.8972% 41.9608%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354.0845 84.1897% 49.6078%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 81.9608%;
    --input: 0 0% 95.6863%;
    --ring: 141.1538 72.8972% 41.9608%;
    --chart-1: 141.1538 72.8972% 41.9608%;
    --chart-2: 141.4054 75.5102% 48.0392%;
    --chart-3: 142.4138 70.1613% 48.6275%;
    --chart-4: 141.0219 72.4868% 37.0588%;
    --chart-5: 141.3913 73.2484% 30.7843%;
    --sidebar: 0 11.1111% 8.8235%;
    --sidebar-foreground: 0 0% 70.1961%;
    --sidebar-primary: 141.1538 72.8972% 41.9608%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15.6863%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 15.6863%;
    --sidebar-ring: 141.1538 72.8972% 41.9608%;
    --font-sans: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, Monaco, Consolas, Courier New, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: -0.02em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 9.4118%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 15.6863%;
    --popover-foreground: 0 0% 100%;
    --primary: 141.1538 72.8972% 41.9608%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 15.6863%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 7.0588%;
    --muted-foreground: 0 0% 70.1961%;
    --accent: 0 0% 15.6863%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354.0845 84.1897% 49.6078%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 15.6863%;
    --input: 0 0% 24.3137%;
    --ring: 141.1538 72.8972% 41.9608%;
    --chart-1: 141.1538 72.8972% 41.9608%;
    --chart-2: 141.4054 75.5102% 48.0392%;
    --chart-3: 142.4138 70.1613% 48.6275%;
    --chart-4: 141.0219 72.4868% 37.0588%;
    --chart-5: 141.3913 73.2484% 30.7843%;
    --sidebar: 0 0% 0%;
    --sidebar-foreground: 0 0% 70.1961%;
    --sidebar-primary: 141.1538 72.8972% 41.9608%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15.6863%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 15.6863%;
    --sidebar-ring: 141.1538 72.8972% 41.9608%;
    --font-sans: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, Monaco, Consolas, Courier New, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 20px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.5;
    --shadow-color: #000000;
    --shadow-2xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.25);
    --shadow-xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.25);
    --shadow-sm: 0px 8px 20px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
    --shadow: 0px 8px 20px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
    --shadow-md: 0px 8px 20px 0px hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);
    --shadow-lg: 0px 8px 20px 0px hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);
    --shadow-xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);
    --shadow-2xl: 0px 8px 20px 0px hsl(0 0% 0% / 1.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}